* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
}

header{
 
}

.contactdaten {
  position: fixed;
  background-color: rgba(66, 137, 234, 1.0);
  height: 30px;
  width: 100%;
}

.contactdaten a {
  float: left;
  color: white;
  font-size: 18px;
  margin-left: 15%;
  text-decoration: none;
  text-align: center;
}

#nav {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: blue;
  margin-top: 30px;
}

#nav a {
  list-style: none;
  margin-left: 5%;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 2px 6px;

}

#nav a:hover {
  background-color: rgba(66, 137, 234, 1.0);
  padding: 2px 6px;
  text-decoration: none;
  transition: 0.3s;
  border-color: orange;
  border-radius: 10px;
}

.logo {
  padding-top: 1px;
}

#wrapper {
  width: 100%;
  padding-top: 115px;
  margin: auto;
  text-align: center;
  background-color: rgba(66, 137, 234, 0.6);
 /* background-image: url("../img/storm.jpg");*/ /* The image used */
   /* Used if the image is unavailable */
  height: 800px; /* You must set a specified height */
  background-position: center; /* Center the image */
 /* background-repeat: no-repeat;*/ /* Do not repeat the image */ 
  background-size: cover; /* Resize the background image to cover the entire container */
  /* background-color: pink;*/
 /*  border-color: black;
  border-width: 2px;
  border-style: dotted; */
}
#bild_baer{
 margin-left: 10%;


}

.dienstleistungen{
   /* background-image: url("../img/logo_baer.png");
    background-position: left;
    background-repeat: no-repeat;
    height: 400px;*/
 }

 .dienstleistungen li{
  color: white;
  margin-left: 25%;
  text-align: left;

 }
 .dienstleistungen a{
  color: white;
  font-size: 1.7em;
  text-decoration: none;
   }

   #contactbutton{
    margin: 7% 15% auto 15%;
    align-items: flex-start;

   }

h1{
  font-size: 3.4em;
}
h2{
  font-size: 3.0em;
}
h3{
  font-size: 2.7em;
}
h4{
  font-size: 2.3em;
}
h5{
  font-size: 1.9em;
}
h6{
  font-size: 1.5em;
}
a{
  font-size: 1.0;
}

.ueberschrift h1{
  font-size: 4em;
  color: blue;
}


 #entruempelungbeschreibung{
  margin-top: 5px;
  height: 700px;  /* You must set a specified height */
  
 /* background-image: url("../img/storm.jpg"); */ /* The image used */
 
  /* background-position: center; Center the image */
 /* background-repeat: no-repeat;*/ /* Do not repeat the image */ 
  background-size: cover; /* Resize the background image to cover the entire container */
} 

#telefonbild{
  margin-left: 1%;
    }

footer{
  margin-top: auto;
  background-color: rgba(66, 137, 234, 0.5);
  background-size: cover;
}
.fas {
  margin-right: 8px;
}

.btn{
 
}

#adressdaten{
  color: white;
  text-align: left;
  margin-left: 20%;
}
#impressum1{
  font-size: 2.4em;
  color: white;
  text-align: right;
  text-decoration: none;
  margin-bottom: 20px;
}
#impressum{
  margin-top: auto;
  background-color: rgba(66, 137, 234, 1.0);
  background-size: cover;

  
}